.header
    padding-top: 40px
    padding-bottom: 28px
    box-shadow: -11px -10px 51px rgba(0, 0, 0, 0.25), 0px 0px 26px rgba(0, 0, 0, 0.53)
    &-row
        display: grid
        grid-gap: 60px
        grid-template-columns: 203px repeat(3, 1fr) 28px
        margin-bottom: 30px
        align-items: center
    &-logo
        &__text
            font-size: 14px
            color: #ffffff
            text-align: center
    &-tel
        display: flex
        flex-direction: column
        align-items: center
        &__list
            margin-bottom: 4px
            width: 100%
            position: relative
            border: 1px solid rgba(255, 255, 255, 0.2)
            border-radius: 5px
            &.active
                border: none
                box-shadow: -11px -10px 51px rgba(0, 0, 0, 0.25), 0px 0px 26px rgba(0, 0, 0, 0.53)
                border-radius: 5px 5px 0 0
        &__tab
            padding: 9px 25px 9px 51px
            
            background: url('../images/phone.svg') no-repeat 8% 50%
        &__link
            color: #1EAB5F
            font-size: 20px
            margin-right: 20px
        &__text
            color: #ffffff
            font-size: 16px
            
            & span
                display: inline-block
                border-radius: 50%
                width: 10px
                height: 10px
                background-color: #1EAB5F
                margin-right: 8px
        &__btn
            border: none
            background: none
            width: 20px
            transform: rotate(90deg)
            transition: all 0.5s ease
            &.rotate
                transform: rotate(270deg)
            &-left
                background: #fff
                width: 100%
                height: 1px
                transform: rotate(45deg)
            &-right
                background: #fff
                width: 100%
                height: 1px
                transform: rotate(135deg)
                margin-top: 8px
        &__enclosure-list
            width: 100%
            position: absolute
            left: 0
            bottom: 0
            transform: translateY(100%)
            background: #2C2C2E
            visibility: hidden
            transition: all 0.5s ease
            &.active
                visibility: visible
                box-shadow: 0 20px 30px 10px rgba(0, 0, 0, 0.25)
                padding-bottom: 20px
    &-social
        display: flex
        flex-direction: column
        align-items: center
        &__list
            display: flex
            margin-bottom: 4px
        &__tab
            margin-right: 13px
            &:last-of-type
                margin-right: 0
        &__text
            color: #ffffff
            & span
                display: inline-block
                width: 10px
                height: 10px
                background: #1EAB5F
                border-radius: 50%
                margin-right: 8px
    &-record
        &__btn
            border-radius: 5px
            display: block
            background: #444343
            color: #ffffff
            text-align: center
            padding: 24px
    &-menu
        &__btn
            width: 100%
            height: 20px
            background: none
            border: none
            position: relative
            & span
                display: block
                border-radius: 5px
                position: absolute
                width: 100%
                height: 2px
                background: #ffffff
                left: 0
                &:first-of-type
                    top: 0
                &:last-of-type
                    bottom: 0
    &-nav
        display: grid
        grid-template-columns: repeat(5, auto)
        max-width: 1010px
        grid-gap: 40px
        &__link
            padding: 10px 15px
            border: 1px solid rgba(255, 255, 255, 0.2)
            border-radius: 5px
            color: #fff
            text-align: center
            transition: all 0.5s ease

// dropdown
.wrapper-dropdown-5 
    /* Size & position */
    position: relative
    width: 100%
    margin: 0 auto 4px
    padding: 12px 51px

    /* Styles */
    font-size: 20px
    color: #1EAB5F
    background: url('../images/phone.svg') no-repeat 8% 50%, #2c2c2e 
    border: 1px solid rgba(255, 255, 255, 0.2)
    border-radius: 5px
    cursor: pointer
    outline: none
    -webkit-transition: all 0.3s ease-out
    -moz-transition: all 0.3s ease-out
    -ms-transition: all 0.3s ease-out
    -o-transition: all 0.3s ease-out
    transition: all 0.3s ease-out

// /* Little arrow */
.wrapper-dropdown-5:after  
    content: ""
    width: 0
    height: 0
    position: absolute
    top: 50%
    right: 15px
    margin-top: -3px
    border-width: 6px 6px 0 6px
    border-style: solid
    border-color: #fbfdfd transparent


.wrapper-dropdown-5 .dropdown 
    /* Size & position */
    position: absolute
    top: 100%
    left: 0
    right: 0

    /* Styles */
    background: #2c2c2e
    border-radius: 0 0 5px 5px
    border: none
    border-top: none
    border-bottom: none
    list-style: none
    -webkit-transition: all 0.3s ease-out
    -moz-transition: all 0.3s ease-out
    -ms-transition: all 0.3s ease-out
    -o-transition: all 0.3s ease-out
    transition: all 0.3s ease-out

    /* Hiding */
    max-height: 0
    overflow: hidden

.wrapper-dropdown-5 .dropdown li 
    background: url('../images/phone.svg') no-repeat 8% 50%
    padding: 0 51px 

.wrapper-dropdown-5 .dropdown li a 
    display: block
    text-decoration: none
    color: #1EAB5F
    font-size: 20px
    padding: 10px 0
    transition: all 0.3s ease-out
    border-bottom: 1px solid #e6e8ea
.wrapper-dropdown-5 .dropdown li:last-of-type a 
    border: none
/* Active state */

.wrapper-dropdown-5.active 
    border-radius: 5px 5px 0 0
    box-shadow: -11px -10px 51px rgba(0, 0, 0, 0.25), 0px 0px 26px rgba(0, 0, 0, 0.53)
    border: none
    color: white

.wrapper-dropdown-5.active:after 
    border-color: #fafafa transparent


.wrapper-dropdown-5.active .dropdown
    box-shadow: 5px 10px 11px 5px rgba(0, 0, 0, 0.25), 0px 10px 10px 0px rgba(0, 0, 0, 0.53) 
    border-bottom: none
    max-height: 400px